<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
    
</head>
<body>
    <p>Get your greeting here</a></p>
    <div id="app">
        {{ message }}
        
        <span v-if="seen">Now you see me</span>
        
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
</body>
</html>